.form {
    display: flex;
    flex-direction: column;

    label {
        margin: 1rem 0rem;
        margin-top: 2rem;
    }

}


.buttons {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    button {
        margin-left: 0.5rem;
    }
}
::ng-deep {

    p-password,
    .p-password,
    .p-password input {
        width: 100% !important;
    }
}