a.button {
    margin-bottom: 1rem;
    text-decoration: none;
}

.search-wrapper{
    display: flex;
    align-items: center;
    row-gap: 1rem;

    a.p-button {
        height: 100%;
        margin: 0px;
    }

    p-autocomplete {
        margin: 0rem 1rem;
    }

    margin-bottom: 1rem;
}

::ng-deep {

    p-autocomplete,
    .p-autocomplete,
    .p-autocomplete input,
    .p-autocomplete-multiple-container,
    input{
        width: 100%;
    }
}