<h1>{{ title }}</h1>

<div class="form">
    <label>Name</label>
    <input type="text" pInputText [(ngModel)]="credential.name" />

    <label>Domain</label>
    <input type="text" pInputText [(ngModel)]="credential.domain" />

    <label>Username</label>
    <input type="text" pInputText [(ngModel)]="credential.username" />

    <label>Password</label>
    <p-password readonly  [feedback]="false" [toggleMask]="true" [(ngModel)]="credential.password" ></p-password>

    <label>SSH Private Key</label>
    <textarea pInputTextarea [(ngModel)]="credential.privateKey" ></textarea>

    <label>Description</label>
    <textarea pInputTextarea [(ngModel)]="credential.description" ></textarea>
</div>

<div class="buttons">
    <button pButton (click)="save()">Save</button>
    <button style.display="{{id == 'new' ? 'none' : 'block'}}" pButton class="p-button-danger" (click)="deleteConfirm()">Delete</button>
</div>
