.form {
    display: flex;
    flex-direction: column;

    label {
        margin: 1rem 0rem;
        margin-top: 2rem;
    }

}

::ng-deep{
    .p-dropdown,
    p-dropdown {
        width: 100%;
    }
}

.buttons {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
    button {
        margin-left: 0.5rem;
    }
}

::ng-deep {

    p-autocomplete,
    .p-autocomplete,
    .p-autocomplete input,
    .p-autocomplete-multiple-container,
    input{
        width: 100%;
    }
}