.form {
    display: flex;
    flex-direction: column;

    label {
        margin: 1rem 0rem;
        margin-top: 1rem;

        &:first-child {
            margin-top: 0rem;
        }
    }

    .input-button-group {
        display: flex;
        width: 100%;

        input,textarea {
            width: 100% ;
        }

        app-copy-button {
            margin-left: 1rem;
        }

    }
}
