

<div class="form">

    <label>Domain</label>
    <div class="input-button-group">
        <input readonly type="text" pInputText value="{{credential?.domain}}" />
        <app-copy-button value="{{credential?.domain}}" descriptor="Domain"></app-copy-button>
    </div>

    <label>Username</label>
    <div class="input-button-group">
        <input readonly type="text" pInputText value="{{credential?.username}}" />
        <app-copy-button value="{{credential?.username}}" descriptor="Username"></app-copy-button>
    </div>

    <label>Password</label>
    <div class="input-button-group">
        <p-password readonly  [feedback]="false" [toggleMask]="true" ngModel="{{credential?.password}}" ></p-password>
        <app-copy-button value="{{credential?.password}}" descriptor="Password"></app-copy-button>
    </div>

    <label>SSH Private Key</label>
    <div class="input-button-group">
        <textarea readonly pInputTextarea value="{{credential?.privateKey}}" ></textarea>
        <app-copy-button value="{{credential?.privateKey}}" descriptor="SSH Private Key"></app-copy-button>
    </div>

</div>
